body {
    padding: 0;
    margin: 0;
}
.kep h3{
    font-size: (8px + 2vw);
}
* {
    box-sizing: border-box;
}
main, header,article,aside,footer{
    border: 1px solid grey;
}
.kep{
    border: 2px solid black;
    overflow: hidden;
}
img{
    max-height: 700px;
    width: 100%;
}

span {
    text-align: right;
}

main{
    display: grid;
    grid-template-columns:  5fr 2fr;
    grid-template-areas:
    "h h "
    "n n"
    "a as"
    "f f " ;
}
header{
    grid-area: h;
    text-align: center;
    background-color: aqua;

}
nav{
    grid-area: n;
    background-color: gold;

}
article{
    grid-area: a;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    background-color: pink;

}
aside{
    grid-area: as;
    background-color: lightgray;
}
footer{
    grid-area: f;
    background-color: green;

}
.kosar{
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    background-color: wheat;
}
aside>h3{
    text-align: center;
}
.kosar button{
    height: 20px;
    color: red;
    padding-left: 10px;
}
span{
    float: right;
    margin-right:  10px;
}
a:link {
    color: blue;
  }

  a:visited {
    color: purple;
  }

  a:hover {
    color: red;
  }
  a:active {
    color: green;
  }
  aside{
    padding:  10px;
  }

@media screen and (max-width:700px) {
    main{
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "h h"
        "n n"
        "a as"
        "f f";
        
    }
    article{
        grid-area: a;
        display: grid;
        grid-template-columns:  1fr 1fr;
    
    }
@media screen and (max-width:400px) {
    main{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h"
        "n"
        "as"
        "a"
        "f";
    }
    
}
    
}